/* Styling the project */

/* Body Styling */
body {
    margin: auto;
    width : 80%;
    text-align: center;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif; */
    background-color: rgb(247, 240, 232);
}

/* form styling */
form{
    text-align: center;
    background-color: rgba(187, 163, 145, 0.438);
    padding: 2rem 0.5rem;
    border-radius: 7.5rem;
    margin: 0 2rem;
}

/* Main heading styling */
h1 {
    font-size: 4rem;
    font-family: 'RocknRoll One', sans-serif;
    color: rgb(75, 53, 32); 
}

/* Form input headings styling */
h2{
    text-align: left;
    margin-left: 20%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: -0.5rem;
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
}

/* Form input fields styling */
select, button {
    font-size: 1.5rem;
    font-family: 'Karla', sans-serif;
    padding: 1.0rem 1.5rem;
    margin: 0.5rem;
    background-color: blanchedalmond;
    color: rgb(75, 53, 32);
    width: 60%;
}

/* Adding hover effects */
select:hover {
    background-color: rgb(80, 66, 46);
    color:blanchedalmond;
    cursor: pointer;
}

/* Button styling */
button {
    width: 58%;
    background-color: rgb(80, 66, 46);
    color:blanchedalmond;
    padding: 0.5rem 1.5rem;
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
}

/* adding button hover effects */
button:hover {
    cursor: pointer;
    background-color: blanchedalmond;
    color:rgb(80, 66, 46);
}

/* Class added to keep year, month , day separated */
.container {
    margin: 2.5rem 1rem;
}

/* Styling result or countdown display of the dates */
.result {
    text-align: center;
    /* font-size: 2rem ;  */
    font-family: 'Karla', sans-serif;
    background-color:rgb(224, 204, 174);
    padding: 0.5rem;
    margin: 1rem 10%;
    margin-top: 1rem;
    border-radius: 2rem;
}

/* styling of the content in the result */
p span {
    background-color: white;
    padding: 0.35rem 0.5rem;
    margin: 0.3rem;
    text-align: center;
}

/* general customization of font-sizes */
p {
    font-size: 2rem;
}

h4 {
    font-size: 1.3rem
}

h3 {
    font-size: 3rem;
}

/* styling the reset button */
#reset button{
    font-size: 2rem;
    padding: 1rem;
}